.btn-order {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 1;
    
    color: $white;
    font-weight: 500;

    background: $btn-gradiant;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    box-shadow: $shadow;
    
    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        display: flex;
        justify-content: center;
        align-items: center;
    
        content: "";
        position: absolute;
        z-index: -1;
        
        color: $white;
        font-weight: 500;
    
        background: $light-btn-gradiant;
        width: 218px;
        height: 50px;
        border-radius: 25px;
        box-shadow: $shadow-hover;

        opacity: 0;
        transition: opacity 400ms;
    }
}

.heart {
    &-unchecked {
        position: relative;
    }
    &-checked {
        position: absolute;
        transform: translateX(-100%);
        background: linear-gradient(180deg, $primary, $secondary);
        -moz-background: linear-gradient(180deg, $primary, $secondary);
        background-clip: text;
        -moz-background-clip: text;
        color: transparent;
        -moz-color: transparent;
        opacity: 0;
        &:hover {
            opacity: 1;
            transition: opacity 400ms;
        }
    }   
}



