.card-fonctionnement {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: $background-grey;
    width: 100%;
    height: 72px;
    border-radius: 20px;
    box-shadow: $shadow;
    color: $black;
    font-weight: 500;
    padding-left: 34px;
    padding-right: 20px;
    .fa-solid {
        color: $grey;
        margin-right: 20px;
    }
    .fa-store {
        color: $primary;
    }
}

.card-restaurant {
    background-color: $white;
    border-radius: 15px;
    box-shadow: $shadow;
    width: 100%;
    position: relative;
    &:hover {
        opacity: 65%;
        box-shadow: $shadow-hover;
    }
    &__photo {
        object-fit: cover;
        width: 100%;
        height: 173px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        height: 77px;
        padding: 12px 14px 12px 12px ;
        &--text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3 {
                font-size: 18px;
                font-weight: 700;
            }
            p {
                font-weight: 300;
            }
        }
        &--tag {
            text-align: right;
            i {
                font-size: 22px;
                position: relative;
                right: 10px;
                top: 5px;
            }
            p {              
                position: relative;
                bottom: 200px;
            }
        }
    }
}