.card-fonctionnement {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 72px;
    padding-left: 34px;
    padding-right: 20px;
    background-color: $background-grey;
    border-radius: 20px;
    box-shadow: $shadow;
    font-weight: 500;
    .fa-solid {
        margin-right: 20px;
        color: $grey;
    }
    .fa-store {
        color: $primary;
    }
}

.card-restaurant {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 250px;   
    background-color: $white;
    border-radius: 15px;
    box-shadow: $shadow;  
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0%;
        width: 100%;
        height: 250px;
        border-radius: 15px;
        box-shadow: $shadow-hover;
        opacity: 0;
        transition: opacity 400ms;
    }  
    &:hover {
        &::after {
            opacity: 1;
        }
        .card-restaurant__photo {
            opacity: 0.7;
        }
    }  
    &__photo {
        object-fit: cover;
        width: 100%;
        height: 173px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        transition: opacity 400ms;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        height: 77px;
        padding: 12px 14px 12px 12px ;
        &--text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3 {
                font-size: 18px;
                font-weight: 700;
            }
            p {
                font-weight: 300;
            }
        }
        &--tag {
            text-align: right;
            i {
                font-size: 22px;
            }
            p {              
                position: relative;
                bottom: 200px;
            }
        }
    }
}

.card-menu {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 68px;
    background-color: $background-grey;
    border-radius: 15px;
    box-shadow: $shadow;
    overflow: hidden;
    opacity: 0;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        height: 100%;
        width: 80%;
        padding: 12px 0 12px 10px;
        &--title {
            font-size: 18px;
            font-weight: 500;
        }
        &--text {
            font-size: 15px;
            font-weight: 300;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__price {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        box-sizing: border-box;
        background-color: $background-grey;
        height: 100%;
        width: 50px;
        padding: 0 20px 12px 0;
        transform: translateX(0);
        transition: transform 0.7s;
        &--text {
            margin-left: 10px;
            font-size: 15px;
            font-weight: 700;
        }
    }
    &__validate {
        position: absolute;
        z-index: 1;
        left: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box; 
        width: 59px;
        height: 68px;
        background-color: $light-green;
        transform: translateX(0);
        transition: transform 0.7s;
        &--fa {
            display: flex;
            width: 23px;
            height: 23px;
            border-radius: 12px;
            background-color: $white;
            font-size: 24px;
            color: $light-green;
        }
    }
    &:hover {
        cursor: pointer;
        .card-menu__price, .card-menu__validate {
            transform: translateX(-59px);
        }
    }
}

.card-new {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $green;
    font-size: 14px;
    font-weight: 500;
    background-color: $light-green;
    width: 80px;
    height: 30px;
}