/*****search-loc*****/

.search-loc {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 50px;
    width: auto;
    background-color: $light-grey;
    &__dot {
        position: relative;
        right: 17px;
        color: $grey;
    }
    &__area {
        &--style {
            width: 109px;
            background-color: $light-grey;
            color: $grey;
            &::placeholder {
                outline: none;
                color: $grey;             
            }
        }
        & input { 
            outline: none;          
            border: none;
            color: $grey;
            font-size: 16px;
        }
    }
}