* {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 16px;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, p {
  margin: 0;
}

/***** Color list *****/
/***** Shadow list *****/
/***** Gradiant *****/
/*****Media Queries*****/
/***** Anime *****/
/***** Loader *****/
@keyframes loader-timer {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes loading-bar {
  0% {
    transform: translate(-50%, -50%) scaleX(0);
  }
  40% {
    transform: translate(-50%, -50%) scaleX(0.2);
  }
  50% {
    transform: translate(-50%, -50%) scaleX(0.6);
  }
  60% {
    transform: translate(-50%, -50%) scaleX(0.8);
  }
  90% {
    transform: translate(-50%, -50%) scaleX(1);
  }
  100% {
    transform: translate(-50%, -50%) scaleX(1);
  }
}
@keyframes stroke-anime {
  to {
    stroke-dashoffset: 0px;
  }
}
/***** MenuCard *****/
@keyframes menu-bar {
  from {
    width: 100%;
  }
  to {
    width: 40px;
  }
}
@keyframes menu-opening {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.btn-order {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  color: #ffffff;
}
.btn-order::after {
  content: "";
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  background: linear-gradient(0deg, #a674e2, #ff9de4);
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.28);
  font-weight: 500;
  color: #ffffff;
  opacity: 0;
  transition: opacity 400ms;
}
.btn-order:hover::after {
  opacity: 1;
}

.card-new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  background-color: #99e2d0;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
}

.heart-anime {
  -webkit-text-stroke: 1px #000000;
  color: #ffffff;
}
.heart-anime:hover {
  background: linear-gradient(0deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px #9356dc;
  color: transparent;
  transition: color 400ms;
}

.card-fonctionnement {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 72px;
  padding-left: 34px;
  padding-right: 20px;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-weight: 500;
}
.card-fonctionnement .fa-solid {
  margin-right: 20px;
  color: #494949;
}
.card-fonctionnement .fa-store {
  color: #9356dc;
}

.card-restaurant {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.card-restaurant::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0%;
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.28);
  opacity: 0;
  transition: opacity 400ms;
}
.card-restaurant:hover::after {
  opacity: 1;
}
.card-restaurant:hover .card-restaurant__photo {
  opacity: 0.7;
}
.card-restaurant__photo {
  object-fit: cover;
  width: 100%;
  height: 173px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  transition: opacity 400ms;
}
.card-restaurant__content {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 77px;
  padding: 16px 18px;
}
.card-restaurant__content--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-restaurant__content--text h3 {
  font-size: 18px;
  font-weight: 700;
}
.card-restaurant__content--text p {
  font-weight: 300;
}
.card-restaurant__content--tag {
  text-align: right;
  align-items: center;
}
.card-restaurant__content--tag i {
  margin: 10px 10px 0 0;
  font-size: 22px;
}
.card-restaurant__content--tag p {
  position: relative;
  bottom: 210px;
}

.card-menu {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 68px;
  background-color: #f7f7f7;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  opacity: 0;
}
.card-menu__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  width: 80%;
  padding: 12px 0 12px 10px;
  transition: width 0.7s;
}
.card-menu__content--title {
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-menu__content--text {
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-menu__price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 50px;
  height: 100%;
  padding: 0 20px 12px 0;
  transform: translateX(0);
  transition: transform 0.7s;
}
.card-menu__price--text {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 700;
}
.card-menu__validate {
  position: absolute;
  z-index: 1;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 59px;
  height: 68px;
  background-color: #99e2d0;
  transform: translateX(0);
  transition: transform 0.7s;
}
.card-menu__validate--fa {
  display: flex;
  width: 23px;
  height: 23px;
  border-radius: 12px;
  background-color: #ffffff;
  font-size: 24px;
  color: #99e2d0;
}
.card-menu:hover {
  cursor: pointer;
}
.card-menu:hover .card-menu__price, .card-menu:hover .card-menu__validate {
  transform: translateX(-59px);
}
.card-menu:hover .card-menu__content {
  width: 70%;
}

.loader {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  animation: loader-timer 0s both 3s;
}
.loader::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform-origin: 0% 50%;
  width: 300px;
  height: 130px;
  border-top: solid 2.5px #9356dc;
  border-bottom: solid 2.5px #9356dc;
  animation: loading-bar 3s forwards;
}
@media (min-width: 768px) {
  .loader::after {
    width: 600px;
  }
}
.loader__logo {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #ffffff;
  fill: #ffffff;
  stroke: #575757;
  stroke-width: 1px;
}
@media (min-width: 768px) {
  .loader__logo {
    width: 600px;
  }
}
.loader__logo path:nth-child(1), .loader__logo path:nth-child(6), .loader__logo path:nth-child(7) {
  animation: stroke-anime 3s forwards;
  stroke-dasharray: 75px;
  stroke-dashoffset: 75px;
}
.loader__logo path:nth-child(5), .loader__logo path:nth-child(8) {
  animation: stroke-anime 3s forwards;
  stroke-dasharray: 115px;
  stroke-dashoffset: 115px;
}
.loader__logo path:nth-child(2), .loader__logo path:nth-child(4) {
  animation: stroke-anime 3s forwards;
  stroke-dasharray: 135px;
  stroke-dashoffset: 135px;
}
.loader__logo path:nth-child(3) {
  animation: stroke-anime 3s forwards;
  stroke-dasharray: 185px;
  stroke-dashoffset: 185px;
}

.header-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .header-container {
    height: 96px;
  }
}
.header-container__logo {
  width: auto;
  height: 30px;
}
.header-container__arrow {
  position: absolute;
  left: 23px;
}
@media (min-width: 1024px) {
  .header-container__arrow {
    left: 75px;
  }
}

.fa-arrow {
  color: #494949;
}
.fa-arrow-hidden {
  visibility: hidden;
}
.fa-arrow-visible {
  visibility: visible;
}

.search-loc {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  background-color: #eaeaea;
}
.search-loc__dot {
  position: relative;
  right: 17px;
  color: #494949;
}
.search-loc__area--style {
  width: 109px;
  background-color: #eaeaea;
  color: #494949;
}
.search-loc__area--style::placeholder {
  color: #494949;
}
.search-loc__area--style:focus {
  color: #9356dc;
}
.search-loc__area input {
  outline: none;
  border: none;
  font-size: 16px;
}

.footer-container {
  display: flex;
  width: 100%;
  height: 197px;
  background-color: #494949;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer-container {
    justify-content: flex-end;
    height: 114px;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  margin: auto 25px;
}
@media (min-width: 768px) {
  .footer-content {
    flex-direction: row-reverse;
    align-items: baseline;
    margin: 65px 25px 30px auto;
  }
}
@media (min-width: 1024px) {
  .footer-content {
    margin: 65px 65px 30px auto;
  }
}
.footer-content__title {
  margin: 0 0 16px 0;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}
@media (min-width: 768px) {
  .footer-content__title {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .footer-content__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.footer-content__list--position {
  margin: 4px 20px 4px auto;
}

.footer-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
}
.footer-link__fa {
  margin-right: 11px;
}
.footer-link__light-font {
  font-weight: 400;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7;
}
.reservation__title {
  margin: 39px 20px 0 20px;
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .reservation__title {
    margin-top: 30px;
    font-size: 40px;
  }
}
.reservation__text {
  margin: 20px 20px 0 20px;
  font-size: 18px;
  font-weight: 300;
}
.reservation__button {
  margin: 30px auto 57px auto;
}
@media (min-width: 768px) {
  .reservation__button {
    margin-bottom: 30px;
  }
}

.fonctionnement {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 72px;
  grid-gap: 25px;
  padding-bottom: 68px;
}
@media (min-width: 1024px) {
  .fonctionnement {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 50px;
    margin: auto;
    width: 980px;
  }
}
.fonctionnement__title {
  margin: 50px 0 0 20px;
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .fonctionnement__title {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 0;
  }
}
.fonctionnement__card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 32px;
}
@media (min-width: 1024px) {
  .fonctionnement__card {
    margin: 0 12px 0 0;
    left: 12px;
  }
}
.fonctionnement__card--number {
  position: absolute;
  left: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #9356dc;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.restaurants {
  background-color: #f7f7f7;
  padding: 14px 20px 64px 20px;
}
.restaurants__title {
  margin: 40px 0 30px 0;
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .restaurants__title {
    margin: 15px auto 30px auto;
  }
}
@media (min-width: 1024px) {
  .restaurants__title {
    width: 980px;
  }
}
.restaurants__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 251px;
  grid-gap: 20px;
}
@media (min-width: 768px) {
  .restaurants__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .restaurants__list {
    grid-gap: 50px;
    width: 980px;
    margin: 0 auto;
  }
}

.photo-restaurant {
  position: absolute;
  object-fit: cover;
  top: 63px;
  width: 100%;
  height: 275px;
}
@media (min-width: 768px) {
  .photo-restaurant {
    top: 96px;
    height: 423px;
  }
}

.restaurant-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 40px;
  width: 100%;
  margin: 220px auto 0 auto;
  padding: 40px 13px;
  background-color: #f7f7f7;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
@media (min-width: 768px) {
  .restaurant-menu {
    margin-top: 343px;
  }
}
@media (min-width: 1024px) {
  .restaurant-menu {
    width: 1024px;
  }
}
.restaurant-menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
@media (min-width: 768px) {
  .restaurant-menu__title {
    justify-content: center;
    gap: 24px;
  }
}
.restaurant-menu__title--text {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}
.restaurant-menu__title--icon {
  margin-right: 28px;
  font-size: 21px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}
@media (min-width: 768px) {
  .menu {
    width: 634px;
  }
}
.menu__title {
  display: flex;
  flex-direction: column;
}
.menu__title--text {
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
}
.menu__title--line {
  width: 100%;
  height: 5px;
  border-bottom: 3px solid #99e2d0;
}

.animation-bar-entrees {
  animation: menu-bar 1s forwards ease-in-out 0.5s;
}
.animation-bar-plats {
  animation: menu-bar 1s forwards ease-in-out 1.5s;
}
.animation-bar-desserts {
  animation: menu-bar 1s forwards ease-in-out 2.5s;
}

.animation-menu-open-entrees {
  animation: menu-opening 0.8s forwards ease-in-out 1.2s;
}
.animation-menu-open-plats {
  animation: menu-opening 0.8s forwards ease-in-out 2.2s;
}
.animation-menu-open-desserts {
  animation: menu-opening 0.8s forwards ease-in-out 3.2s;
}

/*# sourceMappingURL=style.css.map */
