/***** General *****/
* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

/***** Color list *****/
/***** Shadow list *****/
/*****Media Queries*****/ /***** OrderButton *****/
.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  width: 218px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.order-button:hover {
  opacity: 85%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

/***** FonctionnementCard *****/
.fonctionnement-card {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #f7f7f7;
  width: 322px;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  color: #000000;
  font-weight: 500;
  padding-left: 34px;
  padding-right: 20px;
}
.fonctionnement-card .fa-solid {
  color: #353535;
  margin-right: 20px;
}
.fonctionnement-card .fa-store {
  color: #9356dc;
}

/*****header*****/
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 63px;
  box-shadow: 0 2px 4px #353535;
}
.header-container__logo {
  width: auto;
  height: 34px;
}
.header-container__arrow {
  position: absolute;
  left: 23px;
}

.fa-arrow-left {
  color: #000000;
  visibility: hidden;
}

/***** search-loc *****/
.search-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 50px;
  width: auto;
  background-color: #eaeaea;
}
.search-loc__dot {
  position: relative;
  right: 17px;
  color: #353535;
}
.search-loc__area--style {
  width: 109px;
  background-color: #eaeaea;
  color: #353535;
}
.search-loc__area--style::placeholder {
  outline: none;
  color: #353535;
}
.search-loc__area input {
  outline: none;
  border: none;
  color: #353535;
  font-size: 16px;
}

/*****footer*****/
.footer-container {
  display: flex;
  width: 100%;
  height: 197px;
  background-color: #353535;
  color: #ffffff;
}
@media (min-width: 769px) {
  .footer-container {
    justify-content: flex-end;
    height: 114px;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  margin: auto 25px;
}
@media (min-width: 769px) {
  .footer-content {
    flex-direction: row-reverse;
    margin: auto 80px;
  }
}
.footer-content__title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin: 0 0 16px 0;
}
@media (min-width: 769px) {
  .footer-content__title {
    align-self: center;
    margin: 0 30px 0 0;
  }
}
@media (min-width: 769px) {
  .footer-content__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.footer-content__list--position {
  margin: 4px 40px 4px auto;
}

.footer-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
}
.footer-link__fa {
  margin-right: 11px;
}
.footer-link__light-font {
  font-weight: 400;
}

/***** reservation *****/
.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7;
}
.reservation__title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-top: 39px;
}
.reservation__text {
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
}
.reservation__button {
  margin: 30px auto 57px auto;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding-bottom: 68px;
}
.fonctionnement__title {
  font-size: 24px;
  font-weight: 700;
  margin: 50px 0 0 20px;
}
.fonctionnement__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 32px 0 32px;
  position: relative;
}
.fonctionnement__card--number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #9356dc;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  position: absolute;
  left: -12px;
}
.fonctionnement__card--color {
  background-color: #f5edff;
}

/*# sourceMappingURL=style.css.map */
