.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $background-grey;
    &__title {
        font-size: 24px;
        font-weight: 700;
        margin: 0;
        margin-top: 39px;
    }
    &__text {
        font-size: 18px;
        font-weight: 300;
        margin-top: 20px;
    }
    &__button {
        margin: 30px auto 57px auto;
    }
}

.fonctionnement {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 72px;
    grid-gap: 37px;
    padding-bottom: 68px;
    @include desktop {
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        width: 980px;
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        margin: 50px 0 0 20px;
        @include desktop {
            grid-column-start: 1;
            grid-column-end: 4;
            margin-left: 0;
        }
    }
    &__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 32px;
        position: relative;
        @include desktop {
            margin: 0 12px 0 0;
            left: 12px;
        }
        &--number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            background-color: $primary;
            border-radius: 24px;
            font-size: 14px;
            font-weight: 500;
            color: $white;
            position: absolute;
            left: -12px;
        }
        &--color {
            background-color: $light-primary;
        }
    }
}

.restaurants {
    background-color: $background-grey;
    padding: 14px 20px 64px 20px;   
    &__title {
        font-size: 24px;
        font-weight: 700;
        margin: 40px 0;
        @include desktop {
            width: 980px;
            margin: 40px auto;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 251px;
        grid-gap: 20px;
        @include touchpad {
            grid-template-columns: 1fr 1fr;
        }
        @include desktop {
            width: 980px;
            margin: 0 auto;
            grid-gap: 32px;
        }
    }
}