.photo-restaurant {
    position: absolute;
    object-fit: cover;
    top: 63px;
    width: 100%;
    height: 275px;
    @include touchpad {
        top: 96px;
        height: 423px;
    }
}

.restaurant-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 40px;
    width: 100%;
    margin-top: 220px;
    padding: 40px 13px;
    background-color: $background-grey;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    @include touchpad {
        margin-top: 343px;
    }
    @include desktop {
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        @include touchpad {
            justify-content: center;
            gap: 24px;
        }
        &--text{
            font-family: 'Shrikhand', cursive;
            font-size: 28px;
            font-weight: 400;
        }
        &--icon {
            margin-right: 28px;
            font-size: 21px;
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    @include touchpad {
        width: 634px;
    }
    &__title {
        display: flex;
        flex-direction: column;
        &--text {
            font-size: 16px;
            font-weight: 300;
            opacity: 0;
        }
        &--line {
            border-bottom: 3px solid $light-green;
            width: 100%;
            height: 5px;
        }
    }  
}

.animation-bar {
    &-entrees {
    animation: menu-bar 1s forwards ease-in-out 0.5s;
    }
    &-plats {
    animation: menu-bar 1s forwards ease-in-out 1.5s;
    }
    &-desserts {
    animation: menu-bar 1s forwards ease-in-out 2.5s;
    }
}

.animation-menu-open {
    &-entrees {
    animation: menu-opening 1s forwards ease-in-out 0.5s;
    }
    &-plats {
    animation: menu-opening 1s forwards ease-in-out 1.5s;
    }
    &-desserts {
    animation: menu-opening 1s forwards ease-in-out 2.5s;
    }
}