@keyframes menu-opening{
    from {
        transform: scale(0); 
    }
    to {
        transform: scale(1);
    }
}

@keyframes price-moove{
    from {
        transform: translateX(0); 
    }
    to {
        transform: translateX(-59px);
    }
}

@keyframes loader-timer{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0); 
    }
}

@keyframes stroke-anime {
    to {
        stroke-dashoffset: 0px;
        stroke-dasharray: 180px;
    }
}

@keyframes logo-color-anime {
    0% {
        transform: translate(-50%, -50%) scaleX(0);
    }
    40% {
        transform: translate(-50%, -50%) scaleX(0.2);
    }
    60% {
        transform: translate(-50%, -50%) scaleX(0.6);
    }
    80% {
        transform: translate(-50%, -50%) scaleX(0.7);
    }
    90% {
        transform: translate(-50%, -50%) scaleX(1);
    }
    100% {
        transform: translate(-50%, -50%) scaleX(1);
    }
}