/***** Loader *****/

@keyframes loader-timer{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0); 
    }
}

@keyframes loading-bar {
    0% {
        transform: translate(-50%, -50%) scaleX(0);
    }
    40% {
        transform: translate(-50%, -50%) scaleX(0.2);
    }
    50% {
        transform: translate(-50%, -50%) scaleX(0.6);
    }
    60% {
        transform: translate(-50%, -50%) scaleX(0.8);
    }
    90% {
        transform: translate(-50%, -50%) scaleX(1);
    }
    100% {
        transform: translate(-50%, -50%) scaleX(1);
    }
}

@keyframes stroke-anime {
    to {
        stroke-dashoffset: 0px;
    }
}

/***** MenuCard *****/

@keyframes menu-bar{
    from {
        width: 100%;
    }
    to {
        width: 40px;
    }
}

@keyframes menu-opening{
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
