/***** Color list *****/

$light-green: #99e2d0;
$green: #008766;
$primary: #9356dc;
$secondary: #ff79da;
$light-grey: #eaeaea;
$background-grey: #f7f7f7;
$grey: #494949;
$loader-grey: #575757;
$white: #ffffff;
$black: #000000;

/***** Shadow list *****/

$shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
$shadow-header: 0 2px 4px rgba(0, 0, 0, 0.15);
$shadow-hover: 0 4px 10px rgba(0, 0, 0, 0.28);

/***** Gradiant *****/

$btn-gradiant: linear-gradient(0deg, $primary, $secondary);
$light-btn-gradiant: linear-gradient(0deg, lighten($primary, 7%), lighten($secondary, 7%));