.footer-container {
    display: flex;
    width: 100%;
    height: 197px;
    background-color: $grey;
    color: $white;
    @include touchpad {
        justify-content: flex-end;
        height: 114px;
    }
}

.footer-content {
    display: flex;
    flex-direction: column;
    margin: auto 25px;
    @include touchpad {
        flex-direction: row-reverse;
        align-items: baseline;
        margin: 65px 25px 30px auto;
    }
    @include desktop {
        margin: 65px 65px 30px auto;
    }
    &__title {
        margin: 0 0 16px 0;
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        @include touchpad {
            margin: 0;      
        }
    }
    &__list {
        @include touchpad {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &--position {
            margin: 4px 20px 4px auto;
        }
    }
}

.footer-link {
    display: flex;
    align-items: center;
    color: $white;
    font-weight: 500;
    &__fa {
        margin-right: 11px;
    }
    &__light-font {
        font-weight: 400;
    }
}