.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    height: 63px;
    &__logo {
        width: auto;
        height: 30px;
    }
    &__arrow {
        position: absolute;
        left: 23px;
    }
}

.header-shadow {
    box-shadow: 0 2px 4px $grey;
}

.fa-arrow-hidden {
    visibility: hidden;
}

.fa-arrow-visible {
    color: $grey;
    visibility: visible;
}