.header-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    box-shadow: $shadow-header;
    @include touchpad {
        height: 96px;
    }
    &__logo {
        width: auto;
        height: 30px;
    }
    &__arrow {
        position: absolute;
        left: 23px;
        @include desktop {
            left: 75px;
        }
    }
}

.fa-arrow {
    color: $grey;
    &-hidden {
        visibility: hidden;
    }
    &-visible {
        visibility: visible;
    }
}