/*****header*****/

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    height: 63px;
    box-shadow: 0 2px 4px $grey;
    &__logo {
        width: auto;
        height: 34px;
    }
    &__arrow {
        position: absolute;
        left: 23px;
    }
}

.fa-arrow-left {
    color: $black;
    visibility: hidden;
}