.loader {
    position: fixed;
    background-color: $white;
    width: 100%;
    height: 100%;
    z-index: 3;
    animation: loader-opacity 0s both 3s;
    &__logo {
        position: absolute;
        width: 600px;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        & path {
            fill: $primary;
        }
    }
}